.wrapper {
    height: 100vh;
    text-align: center;
}
h1 h2 h3 {
    font-size: 1rem;
}
.header {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    color: black;
    height: 15vh;
    align-items: center;
}
.mainsection h2 {
    width: 100%;
}
.mainsection {
    display: flex;
    flex-wrap: wrap;
    background-color: peachpuff;
    justify-content: center;
}
.mainsection div {
    background-color: beige;
    margin: 3%;
    justify-content: space-between;
}
.sidebar h2 {
    width: 100%;
}
.sidebar {
    display: flex;
    background-color:palegreen;
}
/* Десктопы */
@media screen and (min-width: 1024px) {
    main {
        display: flex;
        height: 65vh;
    }
    .mainsection {
        width: 75%;
        align-items: center;
    }
    .mainsection_div1, .mainsection_div2 {
        width: 40%;
    }
    .mainsection_div3 {
        width: 100%;
    }
    .sidebar {
        width: 25%;
    }
    .footer {
        display: flex;
        background-color: lightgray;
        height: 20vh;
        justify-content: center;
    }
    .footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        margin: 2%;
        width: 20%;
    }
}
/* Планшеты */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        display: flex;
        height: 85vh;
    }
    .mainsection {
        width: 60%;
        align-items: center;
    }
    [class^="mainsection_div"] {
        width: 100%;
        height: 20%;
    }
    .sidebar {
        width: 40%;
    }
    .footer {
        display: none;
    }
    /* footer убран, но внизу страницы почему-то остаётся пустое пространство, другие элементы его не заполняют */
    /* оказалось, что высоту задавала для несуществующего класса main, как только изменила имя селектора, проблема решилась */
}
/* Смартфоны */
@media screen and (max-width: 767px) {
    .mainsection {
        height: 55vh;
    }
    [class^="mainsection_div"] {
        width: 100%;
        height: 20%;
    }
    .sidebar {
        height: 30vh;
    }
    .footer {
        display: none;
    }
}